@import url("two_card.css");
.list_bonus_item{
    display: flex;
    flex-direction: column;
}
.card_bonus_item{
    display: flex;
    gap: 2rem;
}
.bonus_item{
    gap: 2px;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    span{
        font-weight: 600;
        align-self: start;
        cursor: pointer;
    }
    p{
        color: gray;
        align-self: start;
    }
    img{
        width: 150px;
        height: 150px;
        object-fit:cover;
        border-radius: 15px;
        cursor: pointer;
    }
}