@font-face {
    font-family: 'CyberPunk';
    src:url("./assets/Valorax-lg25V.otf") format("opentype");
}
*{
    font-family: "Oxanium", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 1300px;
    min-width: 820px;
}
nav{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}
nav img{
    width: 30px;
    height: 30px;
}
nav label{
    display: flex;
    font-weight: 700;
    height: 100%;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
nav p{
    font-weight: normal;
}
nav a{
    text-decoration: none;
    color: black;
}
.search{
    position: relative;
    height: 40%;
    width: 150px;
}
.search input{
    height: 100%;
    width: 90%;
    border: 1px solid lightseagreen;
    border-radius: 1000px;
    padding: 10px 25px;
}
.search input:focus{
    outline: none;
    border: 2px solid lightseagreen;

}
.search i{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: small;
    color: lightseagreen;
    transform: translateY(-50%);
}
.account_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;height: 100%;
    gap: 10px;
}
.account_info img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid black;
    cursor: pointer;
}
.list_tag{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    gap: 20px;
    padding: 0 60px;
}
.list_tag a{
    border: 1px solid black;
    border-radius: 1000px;
    padding: 3px 8px;
    text-decoration: none;
    color: black;
    transition: 15;
}
.list_tag a:hover{
    border: 1px solid lightseagreen;
    color: lightseagreen;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
}
.banner img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.banner h1{
    position: absolute;
    font-weight: 900;
    color: #eeeeee;
    bottom: 0px;
    left: 0px;
    border-radius: 0 20px 0 0;
    font-size: 40px;
    font-family: "CyberPunk", sans-serif;
    text-shadow: 2px 2px 15px black;
    /* background-color: rgb(255, 255, 255,0.1); */
    /* backdrop-filter: blur(50px); */
    cursor: pointer;
    /* padding: 10px 50px; */
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
    padding-bottom: 10px;
    gap: 5px;
    /* &:hover{
        color: #111;
        transition: 1.5s ease-out;
        text-shadow: 12px 12px 500px 1000px black;
    }
    &:hover span{
        color: aqua;
        transition: 1.5s ease-in;
    } */
    button{
        width: 40%;
        position: absolute;
        /* border-radius: 1000px; */
        border: none;
        color: white;
        background-color: gold;
        font-weight: 800;
        text-shadow: 1px 1px 15px black;
        cursor: pointer;
        padding: 10px 5px;
        left: 30px;
        bottom: 10px;
        &:hover{
            color: aqua;
            background-color: goldenrod;
            font-size: 13px;
            box-shadow: inset 0 0 5px black;
        }
    }
    span{
        color: gold;
        font-family: "CyberPunk", sans-serif;
    }
}
/* .banner h1:hover{
    transform: scale(1.01);
} */
.banner p{
    font-family: "Oxanium", serif;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px 0 0 0 ;
    backdrop-filter: blur(30px);
    text-shadow: 1px 1px 15px black;
    cursor: default;
}
.active{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: .5s ease;
    cursor: default;
}
